# House Price Prediction

In [1]:
# importing libraries 

import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
# reading csv file 

data = pd.read_csv("/kaggle/input/boston-housing-dataset/HousingData.csv")

data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [3]:
# adding heading to model

column_name = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N']

data.columns = column_name

data.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
data.info

<bound method DataFrame.info of            A     B      C    D      E      F     G       H  I    J     K  \
0    0.00632  18.0   2.31  0.0  0.538  6.575  65.2  4.0900  1  296  15.3
1    0.02731   0.0   7.07  0.0  0.469  6.421  78.9  4.9671  2  242  17.8
2    0.02729   0.0   7.07  0.0  0.469  7.185  61.1  4.9671  2  242  17.8
3    0.03237   0.0   2.18  0.0  0.458  6.998  45.8  6.0622  3  222  18.7
4    0.06905   0.0   2.18  0.0  0.458  7.147  54.2  6.0622  3  222  18.7
..       ...   ...    ...  ...    ...    ...   ...     ... ..  ...   ...
501  0.06263   0.0  11.93  0.0  0.573  6.593  69.1  2.4786  1  273  21.0
502  0.04527   0.0  11.93  0.0  0.573  6.120  76.7  2.2875  1  273  21.0
503  0.06076   0.0  11.93  0.0  0.573  6.976  91.0  2.1675  1  273  21.0
504  0.10959   0.0  11.93  0.0  0.573  6.794  89.3  2.3889  1  273  21.0
505  0.04741   0.0  11.93  0.0  0.573  6.030   NaN  2.5050  1  273  21.0

          L     M     N
0    396.90  4.98  24.0
1    396.90  9.14  21.6
2    392.83  4.03  34.7
3    394.63  2.94  33.4
4    396.90   NaN  36.2
..      ...   ...   ...
501  391.99   NaN  22.4
502  396.90  9.08  20.6
503  396.90  5.64  23.9
504  393.45  6.48  22.0
505  396.90  7.88  11.9

[506 rows x 14 columns]>

In [5]:
data.describe

<bound method NDFrame.describe of            A     B      C    D      E      F     G       H  I    J     K  \
0    0.00632  18.0   2.31  0.0  0.538  6.575  65.2  4.0900  1  296  15.3
1    0.02731   0.0   7.07  0.0  0.469  6.421  78.9  4.9671  2  242  17.8
2    0.02729   0.0   7.07  0.0  0.469  7.185  61.1  4.9671  2  242  17.8
3    0.03237   0.0   2.18  0.0  0.458  6.998  45.8  6.0622  3  222  18.7
4    0.06905   0.0   2.18  0.0  0.458  7.147  54.2  6.0622  3  222  18.7
..       ...   ...    ...  ...    ...    ...   ...     ... ..  ...   ...
501  0.06263   0.0  11.93  0.0  0.573  6.593  69.1  2.4786  1  273  21.0
502  0.04527   0.0  11.93  0.0  0.573  6.120  76.7  2.2875  1  273  21.0
503  0.06076   0.0  11.93  0.0  0.573  6.976  91.0  2.1675  1  273  21.0
504  0.10959   0.0  11.93  0.0  0.573  6.794  89.3  2.3889  1  273  21.0
505  0.04741   0.0  11.93  0.0  0.573  6.030   NaN  2.5050  1  273  21.0

          L     M     N
0    396.90  4.98  24.0
1    396.90  9.14  21.6
2    392.83  4.03  34.7
3    394.63  2.94  33.4
4    396.90   NaN  36.2
..      ...   ...   ...
501  391.99   NaN  22.4
502  396.90  9.08  20.6
503  396.90  5.64  23.9
504  393.45  6.48  22.0
505  396.90  7.88  11.9

[506 rows x 14 columns]>

In [6]:
#  defining X train X test Y train and Y test

scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(data)
df_scaled = pd.DataFrame(df_scaled, columns=column_name)

df_scaled.head()

X = df_scaled.drop('N', axis = 1)
Y = df_scaled['N']

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20,random_state=24)

print(" X train ",X_train.shape)
print(" Y train ",Y_train.shape)

print(" X test ",X_test.shape)
print(" Y test ",Y_test.shape)

 X train  (404, 13)
 Y train  (404,)
 X test  (102, 13)
 Y test  (102,)

In [7]:
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(data)
df_scaled = pd.DataFrame(df_scaled, columns=column_name)

df_scaled.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466,0.660000
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389,0.631111
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,NaN,0.693333

In [8]:
df_scaled.describe()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,0.040526,0.112119,0.389443,0.069959,0.349167,0.521869,0.675783,0.242381,0.371713,0.422208,0.622929,0.898568,0.303130,0.389618
std,0.098013,0.233889,0.250583,0.255340,0.238431,0.134627,0.288357,0.191482,0.378576,0.321636,0.230313,0.230205,0.197458,0.204380
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000850,0.000000,0.173387,0.000000,0.131687,0.445392,0.435376,0.088259,0.130435,0.175573,0.510638,0.945730,0.148869,0.267222
50%,0.002781,0.000000,0.338343,0.000000,0.314815,0.507281,0.761071,0.188949,0.173913,0.272901,0.686170,0.986232,0.267660,0.360000
75%,0.039945,0.125000,0.646628,0.000000,0.491770,0.586798,0.937951,0.369088,1.000000,0.914122,0.808511,0.998298,0.420116,0.444444
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
X = df_scaled.drop('N', axis = 1)
y = df_scaled['N']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=102)

print('X_train shape = ',X_train.shape)
print('X_test shape = \t', X_test.shape)
print('y_train shape = ', y_train.shape)
print('y_test shape = \t',y_test.shape)

X_train shape =  (404, 13)
X_test shape = 	 (102, 13)
y_train shape =  (404,)
y_test shape = 	 (102,)

In [10]:
# defining LinearRegression fun to Train Model

class MultiLinearRegression:
    
    def __init__(self, learning_rate=0.5, num_iterations=1000):
        
        self.learning_rate = learning_rate
        self.num_iterations = num_iterations
        self.weights = None
        self.bias = None
        
    def fit(self, X, y):
        
        num_samples, num_features = X.shape
        self.weights = np.zeros(num_features)
        self.bias = 0
        
        for _ in range(self.num_iterations):
            
            y_predicted = np.dot(X, self.weights) + self.bias
            
            dw = (1/num_samples) * np.dot(X.T, (y_predicted - y))
            db = (1/num_samples) * np.sum(y_predicted - y)
            
            self.weights -= self.learning_rate * dw
            self.bias -= self.learning_rate * db
            
    def predict(self, X):
        
        return np.dot(X, self.weights) + self.bias

In [11]:
# creating object LinearRegression class 
model =MultiLinearRegression()
#calling fit function to train model
model.fit(X_train,y_train)
#calling predict function to predict the value of Y
y_pred = model.predict(X_test)
#print(y_test)
error = (1/X_test.shape[0])*np.sum(np.abs(y_pred - y_test))

In [12]:
print("Test error is :", error*100, "%")
print("Test Accuracy is :", (1- error)*100, "%")

Test error is : 0.0 %
Test Accuracy is : 100.0 %